{% extends 'base.html' %}

{% block title %} -chap_sentence {% endblock %}

{% block content %}

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chapter</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style> /* sst용 css */
        .textWrapper{
             width: 800px;
             margin: 0 auto;
             display: flex;
             flex-direction: row;
         }
         .textbox{
             height: 100px;
             border: 1px solid #d3d3d3;
             flex: 1;
             margin : 5px 15px;
             border-radius: 6px;
             text-align: left;
             padding: 16px;
         }
         .chapterbox{
            text-align: center;
         }
         p{
             text-align: center;
         }
    </style>
    <script> /* 모달창용 자바스크립트 */
        window.onload = function() {

        function onClick() {
            document.querySelector('.modal_wrap').style.display ='block';
            document.querySelector('.black_bg').style.display ='block';
        }   
        function offClick() {
            document.querySelector('.modal_wrap').style.display ='none';
            document.querySelector('.black_bg').style.display ='none';
        }

        document.getElementById('modal_btn').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);

    };
    </script>
</head>
<body>
    <div class="help_box">
        <button type='button' id="modal_btn">help</button>
        <div class="black_bg"></div>
        <div class="modal_wrap">
            <div class="modal_close"><a href="#">close</a></div>
            <div>
                <img src="{% static 'img/설명이미지.png' %}" alt="설명이미지">
            </div>
            <div>
                {% for stc in modal_sent_list %}
                        <div>{{forloop.counter}}. {{ stc }}</div>
                    {% endfor %}
            </div>
        </div>
    </div>
    <div id="re_chap"> <!-- 챕터로 돌아가기 -->
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="go_before2" value="go_before2">chapter</button>
        </form>
    </div>

    <div class="chapter_container">
        <div class="chapter_header"> chapter{{ chap_number }} - level{{ InnerNo }} </div>
            <div class="check_list">
            {% for check in check_list %}
                {% if check == False %}
                    <img src="{% static 'img/non-check-mark-303498_30.png' %}">
                {% else %}
                    <img src="{% static 'img/check-mark-303498_30.png' %}">
                {% endif %}
            {% endfor %}
            </div>
        <div class="chapterbox">
           

            <br />
            <div class="sentencebox">
                <div class="SEQSET">
                    {% for sentence in sentences %}
                        <div id="SEQ">{{ sentence.Essentence_question }}</div>
                    {% endfor %}
                    {% for stc_trans in sentences_trans %}
                        <div id="SET">{{ stc_trans }}</div>
                    {% endfor %}
                </div>
                <button id="text_to_speech" onclick="TTS()"><img src="{% static 'img/TTS.PNG' %}"></button>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="textWrapper">
                    <div id="korea" class="textbox"></div>
                    <input name="origintext" id="origintext" style="display: none;">
                    <button name="sendtext" id="sendtext" style="display: none;"></button>
                </div>
            </form>

            <p id="message">음성인식 버튼을 누르세요</p>
            <button id="speech" onclick="speech_to_text()"><img src="{% static 'img/STT.PNG' %}"></button>
            <button id="stop" onclick="stop()"><img src="{% static 'img/STOP.PNG' %}"></button>

            <script type="text/javascript">

                var message = document.querySelector("#message");
                var button = document.querySelector("#speech");
                var korea = document.querySelector("#korea");
                var isRecognizing = false;
        
                if ('SpeechRecognition' in window) {
                   // Speech recognition support. Talk to your apps!
                   console.log("음성인식을 지원하는 브라우저입니다.")
                 }
        
                try {
                     var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
                 } catch(e){
                     console.error(e);
                 }
        
                recognition.lang = 'ko-KR'; //선택하게 해줘야 할듯 .
                 recognition.interimResults = false;
                 recognition.maxAlternatives = 5;
                 //recognition.continuous = true;
        
        
                 function speech_to_text(){
                    
                     recognition.start();
                     isRecognizing = true;
        
                    recognition.onstart = function(){
                         console.log("음성인식이 시작 되었습니다. 이제 마이크에 무슨 말이든 하세요.")
                         message.innerHTML = "음성인식 시작...";
                         button.innerHTML = "Listening...";
                         button.disabled = true;
                     }
                    
        
                    recognition.onspeechend = function(){
                         message.innerHTML = "버튼을 누르고 아무말이나 하세요.";
                         button.disabled = false;
                         button.innerHTML = "Start STT";
                     }
        
                    recognition.onresult = function(event) {
                        console.log('You said: ', event.results[0][0].transcript);
                        // 결과를 출력
                        var resText = event.results[0][0].transcript;
                        korea.innerHTML = resText;

                        // 로그 남겨보기...
                        // var user = document.createElement('div');
                        // user.innerHTML = resText;
                        // document.getElementById('inputlog').appendChild(user).setAttribute('class','user_request');
                        // inputlog.innerHTML = korea.innerHTML
                     };
        
                    recognition.onend = function(){
                         message.innerHTML = "버튼을 누르고 아무말이나 하세요.";
                         button.disabled = false;
                         button.innerHTML = "Start STT";
                         isRecognizing = false;
        
                    }
                 }
        
                function stop(){
                     recognition.stop();
                     message.innerHTML = "버튼을 누르고 아무말이나 하세요.";
                     button.disabled = false;
                     button.innerHTML = "Start STT";
                     isRecognizing = false;
                     
                    //  form 내부의 버튼 작동?
                    document.getElementById("sendtext").value = korea.innerHTML
                    document.getElementById("origintext").value = document.getElementById('SEQ').innerText
                    
                    document.getElementById("sendtext").click()

                 }
        
        
        
                // Text to speech
                 function text_to_speech(txt){
                     // Web Speech API - speech synthesis
                     if ('speechSynthesis' in window) {
                      // Synthesis support. Make your web apps talk!
                          console.log("음성합성을 지원하는  브라우저입니다.");
                     }
                     var msg = new SpeechSynthesisUtterance();
                     var voices = window.speechSynthesis.getVoices();
                     //msg.voice = voices[10]; // 두번째 부터 완전 외국인 발음이 됨. 사용하지 말것.
                     msg.voiceURI = 'native';
                     msg.volume = 1; // 0 to 1
                     msg.rate = 1.3; // 0.1 to 10
                     //msg.pitch = 2; //0 to 2
                     msg.text = txt;
                     msg.lang = 'ko-KR';
        
                    msg.onend = function(e) {
                         if(isRecognizing == false){
                             recognition.start();   
                         }
                           console.log('Finished in ' + event.elapsedTime + ' seconds.');
                     };
                     window.speechSynthesis.speak(msg);
                 }
                 

                function TTS() {
                    //text to sppech
                    basic_sentence = document.getElementById('SEQ').innerText
                    text_to_speech(basic_sentence);
                }

            </script>
            <br />
            {%if sentences.has_previous %}
            <button id="Previous" onclick = "location.href = '?page={{ sentences.previous_page_number }}' ">Previous</button>
            {% endif %}
                <span> {{ sentences.number }} </span>
            {% if sentences.has_next %}
            <button id="next" onclick = "location.href = '?page={{ sentences.next_page_number }}' ">Next</button>
            {% endif %}

            <div>
                {% if is_complete == True %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" formaction="chap_sentence/clear">수료 완료!</button>
                    </form>
                {% endif %}
            </div>
        
        
    </div>

</body>

</html>

{% endblock %}